:root {
    --open-sansL: "Lobster", sans-serif;
    --open-sansC: "Cabin", sans-serif;
    --regular: 400;
    --bold: 700;
    --black: #000000;
    --white: #FFFFFF;
    --logo: #373A3C;
    --red: #DC3545;
    --borde: #DDDDDD;
  }
  .l-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 37pt;
    font-style: normal;
  }
  .c-regular {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .c-bold {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nav-item a{
    font-size: 16pt;
  }
  .titulos{
    font-size: 40pt;
  }
  .time{
    font-size: 20pt;
  }
  h2{
    text-transform:uppercase;
    text-decoration: underline;
  }
  .col{
    font-family: var(--open-sansC) !important ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--black) !important ;
    font-size: 20pt;
  }
  .suscribete{
    height: 534px;
    background: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h4{
    text-transform:uppercase;
    font-size: 40pt;
  }
  .suscribete p{
    font-size: 30pt;
    font-family: var(--open-sansC);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .suscribete span{
    font-size: 30pt;
    font-family: var(--open-sansL);
  }
  .btn{
    padding: 10px 80px 10px 80px;
    font-size: 16pt;
  }