body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: white;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 15px;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.viaje{
    margin-left: 15%;
}
.collapse{
    margin-right: 15%;
}
.navbar-toggler{
    margin-right: 15%;
}
#quienes {
  margin-top: 30px;
  margin-bottom: 30px;
}
.titulos {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.font {
  display: flex;
  justify-content: center;
  background: rgb(35, 171, 255);
}
.card {
  background: rgb(35, 171, 255);
}
#estilos{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: rgb(35, 171, 255);
}
.fa-brands {
  font-size: 2rem;
  margin-right: 15px;
}
